@font-face {
  font-family: 'SohoPro-Medium';
  src: url('../fonts/SohoPro-Medium.woff') format('woff'),
  url('../fonts/SohoPro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
