.card-establishment {
  & > div {
    padding: 20px 0;
    color: $jet;
    border-bottom: 1px solid $white;
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0 !important;
    transition: background .2s ease-out, color .2s ease-out;
    display: flex;

    &:hover,
    &:focus {
      background: $amaranth;
      color: $white;
    }

    @include media('>=tablet') {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__licence-type,
  &__licence-status {
    @include media('<tablet') {
      display: none;
    }
  }
}
