.card-current-vacancy {
  padding: 30px;
  background: $white;
  box-shadow: 0 15px 40px 0 rgba(78, 25, 101, 0.15);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__date {
    font-family: $font-secondary;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $mid-grey;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &__body,
  &__closing-date {
    font-family: $font-secondary;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $jet;
    span {
      display: block;
    }
  }

  &__closing-date {
    padding-bottom: 26.5px;
  }

  &__title {
    font-family: $font-primary;
    color: $brand-primary;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.8rem;
    margin: 0 0 20px;
    display: block;
  }

  &__custom_button_wrapper {
    margin-top: auto;
  }

}
