.cms {

  @include media('>=desktop-wide') {
    padding-right: 0;
  }

  .cms-col {
    @include media('<=tablet') {
      min-height: unset!important;
    }
  }

  & {
    font-family: $font-secondary;
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: 400;
    color: $jet;
  }
}
