.category-blog-filter {
  min-width: 130px;
  cursor: pointer;

  &__indicator-separator {
    display: none;
  }

}
.event-listing {
  margin-top: 30px;
  flex: 1;
  background: $alice-blue;

  @include media("<tablet") {
    margin-top: 0;
  }

}

.event-listing-controls {
  border-top: 1px solid #d9e8ee;
  background: $white;
  padding: 0 20px 50px;

  &__wrapper {
    max-width: $desktop-wide;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include media("<desktop") {
      flex-wrap: wrap;
    }

  }

  &__filter {
    .event-listing-controls__filter-button {
      font-size: 1.8rem;
      line-height: 2.3rem;
      color: $mid-grey;
      padding: 20px 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-right: 30px;
      position: relative;
      transition: color 0.2s ease-in-out;
      
      img {
        margin-top: 3px;
        margin-right: 10px;
      }

      .react-datepicker-wrapper {
        flex-shrink: 0;
      }

      @include media('<tablet') {
        flex-direction: column;
        align-items: baseline;
      }

      @include media(">=tablet") {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      @include media(">=desktop") {
        margin-right: 40px;
      }

      &:after {
        content: "";
        opacity: 0;
        width: 100%;
        left: 0;
        bottom: 5px;
        height: 5px;
        background: $brand-primary;
        transition: opacity 0.2s ease-in-out;
        position: absolute;

        @include media("<tablet") {
          display: none;
        }
      }

      &:hover {
        color: $brand-primary;
      }

      &:focus,
      &--active {
        &:after {
          opacity: 1;
        }
      }
      .event-listing-filter {
        min-width: 150px;
        
        &.tags {
          min-width: 100px;
        }
        
        &__control {
          border: none;
          flex-direction: row-reverse;
          border-radius: 0;
          cursor: pointer;

          &--is-focused {
            box-shadow: none;
          }

        }

        &__indicator-separator {
          display: none;
        }

        &__indicator {
          color: $mid-grey;
        }

        &__single-value,
        &__placeholder {
          position: static;
          transform: none;
          top: auto;
        }

        &__placeholder {
          color: $mid-grey;
        }

        &__single-value {
          color: $brand-primary;
        }

        &__clear-indicator {
          display: none;
        }

        &__value-container {
          padding-left: 0;
        }
        &__menu {
          min-width: 210px;
        }
      }

      .event-listing-filter__menu {
        border-radius: 0;
        box-shadow: 0 15px 40px 0 rgba(78, 25, 101, 0.15);
        margin-top: 13px;

        &-list {
          padding: 5px 5px 0;
        }
      }

      .event-listing-filter__option {
        text-align: left;
        font-family: $font-secondary;
        color: $jet;
        font-size: 1.6rem;
        cursor: pointer;
        transition: all 0.2s ease-out;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        &--is-focused {
          background: $alice-blue;
          color: $brand-primary;
        }

        &--is-selected {
          background: $brand-primary;
          color: white;
        }
      }
    }

    &-controls {
      max-width: $desktop-wide;
      margin: 20px auto 0;
      display: flex;
      padding: 0;

      @include media("<tablet") {
        margin-top: 0;
      }

      @include media(">=tablet", "<=desktop-wide") {
        padding: 0 20px;
      }

      &--search {
        padding-bottom: 20px;

        & > div {
          border: 1px solid $brand-primary;
          padding: 0 10px;
          display: flex;
          align-items: center;
          width: 100%;

          img {
            margin-left: auto;
          }

          @include media(">=tablet") {
            padding: 0 20px;
          }
        }

        input {
          border: 0;
          width: 100%;
          padding: 10px 20px 10px 0;
          font-size: 1.6rem;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $mid-grey;
          }

          @include media(">=tablet") {
            font-size: 2rem;
            line-height: 2.5rem;
          }
          
        }
      }
    }

    @include media("<tablet") {
      padding: 0 20px;
      width: 100%;
      border-bottom: 1px solid #d9e8ee;

      &:last-child {
        border-bottom: 0;
      }

      .event-listing-controls__filter-button {
        width: 100%;
        padding: 20px 0;
      }
    }
  }
}
