.search {
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  background: $white;
  left: 0;
  z-index: 110;
}

.search__inner-wrapper {
  margin: 0 auto;
  max-width: $desktop-wide;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.search__form {
  flex-grow: 1;
  position: relative;

  input {
    border: none;
    border-radius: 0;
    color: $brand-primary;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 3.4rem;
    width: 100%;
    padding-right: 70px;

    &::placeholder {
      color: $brand-primary;
    }

    &:focus {
      outline: 0;
    }

    @include media('>=desktop-wide') {
      font-size: 4rem;
      line-height: 4.8rem;
      margin-bottom: 5px;
    }
  }

  .search__submit {
    position: absolute;
    background: #F4F4F4;
    color: $brand-primary;
    padding: 5px;
    border-radius: 3px;
    bottom: 5px;
    transition: left .15s ease-out;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $font-secondary;
    line-height: 1.5rem;
    letter-spacing: 1.3px;
    cursor: pointer;
    left: 129px;
    transition: background .2s ease-in-out, color .2s ease-in-out;

    &:focus,
    &:hover {
      background: #CFCFCF;
      color: $mid-grey;
    }

    @include media('>=desktop-wide') {
      left: 149px;
      bottom:13px
    }
  }
}

.search__input-shadow {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 3.4rem;
  position: absolute;
  top: -9999px;
  right: -9999px;
  visibility: hidden;
  opacity: 0;

  @include media('>=desktop-wide') {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.search__close-button {
  margin-left: 20px;
  border-radius: 100px;
  background-color: $ghost-white;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background .2s ease-in-out;
  flex-shrink: 0;

  &:focus,
  &:hover {
    background: #CBCBCB;
  }

  @include media('>=desktop-wide') {
    margin-bottom: 5px;
  }
}
