.search {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 110;
}

.search__outer-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56px);

  @include media('>=tablet') {
    height: calc(100vh - 63px);
  }

  @include media('>=desktop-wide') {
    height: calc(100vh - 85px);
  }
}

.search__close {
  height: 100%;
  display: block;
}
.search__close_text {
  color: $white;
  background: $brand-primary;
  text-decoration: underline;
  font-family: $font-secondary;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: inline-block;
  transition: background .2s ease-out;
  padding: 8px;

  &:visited {
    color: $white;
  }

  @include media('>=desktop-wide') {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  &:focus,
  &:hover {
    background: #602E76;
    outline: none;
  }
}
.search__inner-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background: $brand-primary;

  @include media('>=tablet') {
    padding: 40px 40px 50px;
  }
}

.search__form {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  max-width: $desktop;

  input {
    border: none;
    border-radius: 0;
    color: $brand-primary;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 1.6rem;
    width: 100%;
    padding: 16px 24px;

    &::placeholder {
      color: $mid-grey;
    }

    &:focus {
      outline: 0;
    }

    @include media('>=tablet') {
      font-size: 2.1rem;
      padding: 20px 30px;
    }
  }

  .search__submit {
    background: $amaranth;
    padding: 8px;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    img {
      width: 20px;
    }

    &:focus,
    &:hover {
      opacity: .7;
    }

    @include media('>=tablet') {
      padding: 22px;
    }
  }
}
