$brand-primary: #4E1965;

$white: #fff;
$black: #000;

// Text colours
$amaranth: #9A3668;
$light-grey: #ACACAC;
$mid-grey: #585858;
$jet: #2b2b2b;
$blue: #8DB9CA;

// BGs
$alice-blue: #D9E8EE;
$honeydew: #DAEEDA;
$linen: #FFECE2;
$queen-pink: #EAD7E0;
$ghost-white: #E7EAF4;
$dark-blue: #100b74;
