.paragraph--type--paragraph-banner .banner-text-wrapper {
  left: 50%;
  min-height: initial;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

